body {
  --skyblue: #99cff7;
  --tablebrown: #a8724f;
  --nice_image_url: "/imgs/frischluft_bg.webp";
  font-family: "corbel", sans-serif;
  background: #ddd;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.container,
.niceimage {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  padding-bottom: 20rem;
  /* border: 1px solid orange; */
  /* position: relative; */
}

.notfooter {
  flex: auto;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 50rem;
}
.niceimage {
  flex: auto;
  background-color: var(--skyblue);
  background-image: var(--nice-bg-jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@supports (background-image: url("image.webp")) {
  .niceimage {
    background-image: var(--nice-bg-webp);
  }
}

footer {
  flex: 0 0 auto;
}
footer .container {
  background-color: var(--tablebrown);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 0.8em;
}

section {
  /* flex: auto;
  padding: 2rem; */
}

/* Greeting Modal Container */
.modal-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Greeting Modal Container - when open */
.modal-container:target {
  visibility: visible;
  opacity: 1;
}

/* Greeting Modal */
.modal-container .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}

/* Greeting Modal - when open */
.modal-container:target .modal {
  transform: translateY(0);
  opacity: 1;
}

/* Modal Container Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Background Styles */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Body Styles */
.modal {
  z-index: 1;
  background-color: white;
  width: 80%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 8px;
}
